<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
</head>
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        {%block content%} {%endblock%}
    </body>
</html>